@model IEnumerable<Laboratory56.Models.ApplicationUser>

@{
    ViewBag.Title = "UsersInfo";
}

<div class="container">
    @foreach (var item in Model)
    {
        <p ><img src="~/@item.AvatarImage" width="100" height="100"/></p><br/>
        <p style="color: black;"><label style="color: darkgrey;"> Name: </label>@item.Name</p>
        <p style="color: dodgerblue;"><label style="color: darkgrey;"> Email: </label>@item.Email</p>
        <p style="color: dodgerblue;"><label style="color: darkgrey;"> PhoneNumber: </label>@item.PhoneNumber</p>
    }
</div>